Source: unsuspendd
Section: core
Priority: optional
Maintainer: Alexander V. Nikolaev <avn@daemon.hole.ru>
Build-Depends: debhelper (>= 7)
XCS-Cross-Host-Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: unsuspendd
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: madaudio (<< 0.4.14), oi-hotplug (<< 0.4)
Description: Userspace autosuspend arbiter
 There are applications which need autosuspend disabled for proper operation,
 such as music/video players, sound recorders etc.  Additionally, it is useful
 to disable autosuspend in some state, such as "USB cable is plugged in".
 .
 Kernel autosuspend support does not arbitrate autosuspend state, so this
 userspace helper is necessary to figure out proper autosuspend state in
 presence of multiple power-concious programs.

Package: unsuspendd-dbg
Architecture: any
Depends: unsuspendd (= ${binary:Version})
Description: Userspace autosuspend arbiter -- debugging symbols
 There are applications which need autosuspend disabled for proper operation,
 such as music/video players, sound recorders etc.  Additionally, it is useful
 to disable autosuspend in some state, such as "USB cable is plugged in".
 .
 Kernel autosuspend support does not arbitrate autosuspend state, so this
 userspace helper is necessary to figure out proper autosuspend state in
 presence of multiple power-concious programs.
 .
 This package provides debugging symbols.