#!/usr/bin/make -f

CFLAGS=-g -Os

build: build-stamp
build-stamp:
	dh_testdir
	$(MAKE) CC=$(DEB_HOST_GNU_TYPE)-gcc CFLAGS="$(CFLAGS)"
	touch $@

clean:
	dh_testdir
	dh_testroot
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/unsuspendd prefix=/usr

binary-indep: build install

binary-arch: build install
	dh_testdir -s
	dh_testroot -s
	dh_installinit -s -r -- start 50 S . stop 50 0 6 .
	dh_link -s
	dh_strip -s --dbg-package=unsuspendd-dbg
	dh_compress -s
	dh_fixperms -s
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_builddeb -s

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
